
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>client</th>
    <th>userid</th>
    <th>status</th>
  </tr>
{% for k,v in ps.iteritems() %}
  <tr>
    <td>{{k}}</td>
    <td>{{v.user_id}}</td>
    <td>{{v.status}}</td>
  </tr>
{% endfor %}
</table>
</body>
</html>
