
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
 {{ report_data }}
  <tr>
    <th>client</th>
    <th>status</th>
    <th>user_id</th>
  </tr>
  {% for client,values in report_data.items() %}
  <tr>
    <td>{{client}}</td>
    {% if values["status"] =="passed" %}  
    <td>&#9989;</td>
    {% else %}
    <td>&#10060;</td>
    {% endif %}
    <td>{{values["user_id"]}}</td>
  </tr>
{% endfor %}
</table>
</body>
</html>
